.header {
  display: flex;
  /* height: 75px; */
  justify-content: space-between;
  align-items: center;
  padding: 29px;
  border-bottom: 1px solid;
  border-color: #ebebf0;
}

.header__top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 13px;
  width: 100%;
}

.header__title {
  font-family: "Futura PT";
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
  line-height: 44px;
  color: #424f5e;
}

.header__options {
  display: flex;
  justify-content: flex-end;
}

.header__add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 218px;
  height: 36px;
  border-radius: 10px;
  background-color: #32c076;
  font-family: Futura PT;
  font-weight: 450;
  font-size: 18px;
  line-height: 20px;
  margin-left: 10px;
  color: #f9fafb;
  cursor: pointer;
  text-align: center;
}

.header__menu {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 1252px) {
  .header__add-button {
    font-size: 1.5vw;
    width: 10vw;
    line-height: 1.5vw;
  }
}

@media screen and (max-width: 632px) {
  .header {
    flex-direction: column;
    padding: 14px;
  }

  .header__menu {
    display: flex;
  }

  .header__options {
    flex-direction: column;
    width: 100%;
    gap: 10px;
    position: relative;
    justify-content: center;
    align-items: center;
  }

  .header__title {
    align-self: flex-start;
  }

  .header__add-button {
    width: 100%;
    margin-top: 20px;
    margin-left: 0px;
    font-size: 16px;
  }
}
