.header {
  display: flex;
  height: 75px;
  align-items: center;
  padding-left: 29px;
  padding-right: 29px;
  border-bottom: 1px solid;
  border-color: #ebebf0;
}

.header__title {
  font-size: 26px;
  font-family: "Futura PT";
}

.header__options {
}
