.rules {
  position: absolute;
  width: 222px;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #f9fafb;
  top: 60%;
  left: 71%;
  font-family: Futura PT;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  gap: 10px;
  box-shadow: -30px 30px 50px rgb(28, 28, 30, 0.1);
}

.rules__item {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.rules__checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid #c1c1cb;
  border-radius: 5px;
  background-color: #f9fafb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rules__checkbox_clicked {
  background-color: #5856d6;
}

.rules__check {
  width: 8px;
  height: 6.4px;
}
