.search {
  display: flex;
  align-items: center;
}

.search__icon {
  width: 16px;
  height: 16px;
  margin-right: 16px;
  cursor: pointer;
}

.search__input-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 649px;
  height: 36px;
  border-radius: 10px;
  border: 1px solid #c1c1cb;
  padding-left: 8px;
  margin-left: 96px;
}

.search__input {
  border: 0px;
  background-color: #f9fafb;
  height: 20px;
  font-family: "Futura PT";
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  font-size: 18px;
  color: #9494a0;
}

.search__input:focus {
  outline: none;
}

.search__iconNotActive {
  margin-left: 714px;
}
