.search {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 400px;
}

.search__icon {
  width: 16px;
  height: 16px;
  margin-right: 16px;
  cursor: pointer;
}

.search__input-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 649px;
  height: 36px;
  border-radius: 10px;
  border: 1px solid #c1c1cb;
  padding-left: 8px;
}

.search__input {
  border: 0px;
  background-color: #f9fafb;
  height: 20px;
  font-family: "Futura PT";
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  font-size: 18px;
  color: #9494a0;
}

.search__input:focus {
  outline: none;
}

@media screen and (max-width: 1338px) {
  .search__input-field {
    min-width: 40vw;
  }
}

@media screen and (max-width: 796px) {
  .search {
    max-width: 40vw;
  }
  .search__input-field {
    min-width: 20vw;
  }
  .search__input {
    width: 200px;
    font-size: 2vw;
  }
}

@media screen and (max-width: 632px) {
  .search {
    max-width: 40vw;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
  }
  .search__input-field {
    position: absolute;
    width: 100%;
  }
}
