.show-message {
  position: absolute;
  width: 526px;
  height: 213px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f9fafb;
  box-shadow: -30px 30px 50px rgb(28, 28, 30, 0.1);
}

.show-message__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.show-message__title {
  font-family: Futura PT;
  font-weight: 600;
  font-size: 22px;
  line-height: 26.4px;
}
