.side-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  background-color: #f9fafb;
  padding-top: 25px;
  gap: 25px;
}

.side-bar__emblem {
  background-image: url("../images/emblem.svg");
  width: 22.47px;
  height: 34px;
}
