.user {
  display: flex;
  justify-content: space-between;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 29px;
  padding-right: 29px;
  background-color: #f9fafb;
}

.user:hover {
  background-color: #efeff6;
}

.user__information {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.user__photo-image {
  object-fit: cover;
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.user__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.user__header {
  display: flex;
  gap: 8px;
}

.user__name {
  font-family: Futura PT;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #424f5e;
}

.user__email {
  font-family: Futura PT;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #9494a0;
}

.user__permissions {
  display: flex;
  gap: 4px;
}

.user__permission {
  display: flex;
  justify-content: center;
  padding-left: 7px;
  padding-right: 7px;
  align-items: center;
  height: 30px;
  border-radius: 10px;
  border: 1px solid #c1c1cb;
  color: #9494a0;
  font-family: Futura PT;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.user__permission_blue {
  color: #5a57ff;
  border: 1px solid #5a57ff;
}

.user__menu {
  cursor: pointer;
}

.user__additional-information {
  font-family: Futura PT;
  font-size: 18px;
  line-height: 20px;
  font-weight: 450;
  color: #9494a0;
}
