.users-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 25px;
  width: 93vw;
}

.users-content__content {
  width: 79vw;

  display: flex;
  flex-direction: column;
  background-color: #f9fafb;
  border-radius: 10px;
  padding-bottom: 10px;
}

/* @media screen and (max-width: 1252px) {
  .users-content__content {
    position: absolute;
    width: 70vw;
  }
} */
