* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

@font-face {
  font-family: "Futura PT";
  font-weight: 500;
  /* font-style: normal; */

  src: url("./fonts/Futura-Font.ttf") format("truetype");
}
